@model WhiskeySour.Web.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Edit Profile";
}
<h2>Edit Profile</h2>

@if (Model?.ProfilePicture != null)
{
    var base64 = Convert.ToBase64String(Model.ProfilePicture);
    var imgSrc = $"data:image/png;base64,{base64}";
    <img src="@imgSrc" alt="profile picture" class="img-thumbnail mb-3" style="max-height: 200px"/>
}
<form asp-action="Edit" method="post" enctype="multipart/form-data" asp-controller="Profile">
    <div class="form-group">
        <label asp-for="FirstName">First name:</label>
        <input asp-for="FirstName" class="form-control"/>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName">Last name:</label>
        <input asp-for="LastName" class="form-control"/>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Upload new profile picture</label>
        <input asp-for="ImageFile" type="file" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
    
</form>

