@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Whiskey Sour Carparts</h1>
    <br/>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum.
        Mauris nec orci nec nunc sagittis auctor sit amet et risus. Curabitur vulputate bibendum neque, eu tincidunt magna eleifend sit amet.
        Nulla facilisi. Donec varius neque eu erat vestibulum, ac feugiat metus feugiat. 
        Proin malesuada dolor vel sapien placerat, ut tincidunt nisi auctor. Sed fringilla dui ac magna consequat, vel convallis ipsum mollis. 
        Integer sit amet leo id metus consequat vulputate. Etiam laoreet mi id leo varius, ac vulputate augue bibendum. 
        Donec feugiat ullamcorper velit, ut tempor orci efficitur in. Aenean gravida eros non mauris eleifend sollicitudin. 
        Suspendisse ac ex eget neque tincidunt posuere ut ut sapien.</p>
    </div>