@model int

<a asp-controller="Notification" asp-action="Index" class="nav-link">
    <span class="position-relative">
        <i class="bi bi-bell fs-3"></i>
        @if (Model > 0)
        {
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @Model
            </span>
        }
    </span>
    
</a>